{{> components/sidenav }}
<header id="header" class="header" data-header-height="166" data-sticky-header-height="137">
    <div class="header-body">
        <div class="header-container">
            <div class="header-top">
                <span>ücretsiz teslim ve iade</span>
            </div>
            <div class="header-row main-items">
                <div class="header-column w-1/3 xl:hidden">
                    <div class="help-block">
                        <a href="#">Yardım</a>
                        <a href="#">Kargo Takip</a>

                        <div class="language-switcher" id="languageSwitcher">
                            <div>
                                <img src="../images/tr-flag.svg" alt="">
                                <i class="fa-light fa-angle-down"></i>
                            </div>

                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../images/tr-flag.svg" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="../images/tr-flag.svg" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="../images/tr-flag.svg" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="../images/tr-flag.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header-column w-1/3 xl:w-2/5">
                    <div class="header-logo">
                        <a href="">
                            <img src="../images/logo.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="header-column w-1/3 xl:w-3/5">
                    <div class="features">
                        <div class="search">
                            <!-- Search Bar -->
                            <form action="#" method="post">
                                <div class="form-element">
                                    <label for="search" class="hidden"></label>
                                    <input type="search" name="" placeholder="Ürün veya Koleksiyon ara" required id="search">
                                    <button type="submit">
                                        <i class="fa-light fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </form>
                            <!-- Search Bar -->
                        </div>
                        <div class="other-features">
                            <div class="user">
                                <i class="fa-light fa-user"></i>
                            </div>
                            <a href="#" class="favorites">
                                <i class="fa-light fa-heart"></i>
                            </a>
                            <div class="cart">
                                <i class="fa-light fa-basket-shopping-simple"></i>
                            </div>
                        </div>

                        <div id="menu-btn" class="menu-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-row nav-items xl:!hidden">
                <div class="header-column w-full">
                    <div class="header-nav">
                        <nav>
                            <ul>
                                <li class="menu-item">
                                    <a href="#">ana sayfa</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans</a>

                                    <div class="sub-menu">
                                        <div class="sub-menu-block">
                                            <p>Kategori 1</p>
                                            <ul>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 3</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 4</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 5</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="sub-menu-block">
                                            <p>Kategori 1</p>
                                            <ul>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 3</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 4</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 5</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 5</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 5</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">alyans alt menü 5</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük</a>

                                    <div class="sub-menu">
                                        <div class="sub-menu-block">
                                            <p>Kategori 1</p>
                                            <ul>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü 2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü 3</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü 4</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü 5</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="sub-menu-block">
                                            <p>Kategori 1</p>
                                            <ul>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü 2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü 3</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü 4</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">yüzük alt menü 5</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#">küpe</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">kolye</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">bileklik</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">bilezik</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">düğün seti</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">erkek</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">çocuk</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">diğer</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">koleksiyonlar</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">indirimli ürünler</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<a href="#" target="_blank" class="whatsapp fixed-side-button">
    <i class="fa-brands fa-whatsapp"></i>
    <div>
        <p>+90 555 567 78 89</p>
    </div>
</a>

<a href="tel:+905555677889" class="phone fixed-side-button">
    <i class="fa-light fa-phone"></i>
    <div>
        <p>+90 555 567 78 89</p>
    </div>
</a>

<a href="mailto:info@example.com" class="email fixed-side-button">
    <i class="fa-light fa-envelope"></i>
    <div>
        <p>info@example.com</p>
    </div>
</a>
