<div class="sidenav" id="sideNav">
    <div class="sidenav-wrapper">

        <div class="close-button" id="close-button">
            <span></span>
            <span></span>
        </div>

        <!-- Search Bar -->
        <div class="search">
            <form action="#" method="post">
                <div class="form-element">
                    <label for="search" class="hidden"></label>
                    <input type="search" name="" placeholder="Ürün veya Koleksiyon ara" required id="search">
                    <button type="submit">
                        <i class="fa-light fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- Search Bar -->

        <nav>
            <ul>
                <li class="menu-item">
                    <a href="#">ana sayfa</a>
                </li>
                <li class="menu-item">
                    <a href="#">alyans</a>

                    <div class="sub-menu">
                        <div class="sub-menu-block">
                            <p>Kategori 1</p>
                            <ul>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 2</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 3</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 4</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 5</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sub-menu-block">
                            <p>Kategori 1</p>
                            <ul>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 2</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 3</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 4</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 5</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 5</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 5</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">alyans alt menü 5</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="#">yüzük</a>

                    <div class="sub-menu">
                        <div class="sub-menu-block">
                            <p>Kategori 1</p>
                            <ul>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü 2</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü 3</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü 4</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü 5</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sub-menu-block">
                            <p>Kategori 1</p>
                            <ul>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü 2</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü 3</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü 4</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">yüzük alt menü 5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="#">küpe</a>
                </li>
                <li class="menu-item">
                    <a href="#">kolye</a>
                </li>
                <li class="menu-item">
                    <a href="#">bileklik</a>
                </li>
                <li class="menu-item">
                    <a href="#">bilezik</a>
                </li>
                <li class="menu-item">
                    <a href="#">düğün seti</a>
                </li>
                <li class="menu-item">
                    <a href="#">erkek</a>
                </li>
                <li class="menu-item">
                    <a href="#">çocuk</a>
                </li>
                <li class="menu-item">
                    <a href="#">diğer</a>
                </li>
                <li class="menu-item">
                    <a href="#">koleksiyonlar</a>
                </li>
                <li class="menu-item">
                    <a href="#">indirimli ürünler</a>
                </li>
            </ul>
        </nav>

        <div class="bottom-area">
            <div class="help-block">
                <a href="#">Yardım</a>
                <a href="#">Kargo Takip</a>

                <div class="language-switcher" id="languageSwitcher-mobile">
                    <div>
                        <img src="../images/tr-flag.svg" alt="">
                        <i class="fa-light fa-angle-down"></i>
                    </div>

                    <ul>
                        <li>
                            <a href="#">
                                <img src="../images/tr-flag.svg" alt="">
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="../images/tr-flag.svg" alt="">
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="../images/tr-flag.svg" alt="">
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="../images/tr-flag.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
