{{#> layout }}

{{> partials/header }}

<div id="index-page">
    <div class="content-container xl:px-5">
        <section class="breadcrumb-section">
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href="#">ana sayfa</a>
                    </li>
                    <li>
                        <a href="#">altın</a>
                    </li>
                    <li>
                        <a href="#">altın yüzükler</a>
                    </li>
                </ul>
            </div>
        </section>

        {{> components/product-area }}

        <section class="description-area mt-[120px] xxl:mt-[80px] xl:mt-[60px] lg:mt-[30px] mb-[200px]">
            <div class="row flex gap-[112px] xxl:gap-[80px] xl:gap-[60px] lg:flex-col lg:gap-[30px]">
                <div class="w-1/2 lg:w-full">
                    <div class="description">
                        <p>Modası asla geçmeyen ve her dönem kadınların en fazla tercih ettiği yüzük modelleri arasında bulunan altın baget yüzük modeli Crealive dünyasında sizlerle buluşuyor. Kadınların günün her anında kullanabilecekleri şekilde tasarlanan altın baget yüzük modeli ile sizler de stilinizi konuşturabilirsiniz. Özgün ve modern tasarım dokunuşları ile yeniden hayat bulan altın baget yüzük modelini özel gün ve gecelerde olduğu gibi dilerseniz; gündelik kullanımlarda da rahatlıkla tercih edebilirsiniz.
                            <br><br>
                            Zarif ve şık duruşu ile dikkat çeken altın baget yüzük modeli sayesinde girdiğiniz her ortamda tüm bakışlar stilinize çevrilecek. Özel ve göz kamaştırıcı mücevherler arasında bulunan altın baget yüzük modelini, tarzınız içerisinde farklı şekillerde kullanarak; hayal ettiğiniz kombinleri gerçeğe dönüştürebilirsiniz.
                            <br><br>
                            Işıltılı duruşu sayesinde stilinize farklı bir hava katabileceğiniz altın baget yüzük modeli ile günün her anında kendinizi daha şık ve rahat hissedeceksiniz. Sevdikleriniz için en değerli ve anlamlı hediyeler arasında da bulunan altın baget yüzük modelini özel günlerinizde hediye olarak da tercih edebilirsiniz. Sevgililer günü, doğum günü, evlilik teklifi ve evlilik yıldönümü gibi özel günlerinizi taçlandırabileceğiniz altın baget yüzük modeli sayesinde ilişkinize yeni bir heyecan katabilirsiniz.
                            <br><br>
                            Crealive güvencesi ile sahip olabileceğiniz altın baget yüzük modelini sevdikleriniz ya da kendiniz için tercih ederek, bir ömür boyu kullanılabilecek değerli bir mücevhere sizler de sahip olabilirsiniz.</p>
                    </div>
                </div>
                <div class="w-1/2 lg:w-full">
                    <div class="image">
                        <img src="../images/image-1.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="fixed-bar" id="fixedPriceBar">
        <div class="content-container">
            <div class="row flex justify-between items-center">
                <div class="left">
                    <p>Altın Baget Yüzük</p>
                </div>

                <div class="right">
                    <span>589 TL’ den Başlayan Taksitlerle</span>
                    <div class="content">
                        <p>12.384 TL</p>
                        <p>1.594 TL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-container closed">
    <div class="modal closed" modal-id="1">
        <div class="close-button">
            <i class="fa-light fa-xmark"></i>
        </div>
        <div class="modal-body">
            <div class="modal-content">
                <img src="../images/yuzuk.jpg" alt="">
            </div>
        </div>
    </div>
</div>

{{/layout}}
